%div#footer
  .foot-wrap
    -# .menu-left
    -#   %h3 menu-left
    -#   %ul.foot-left
    -#     %li
    -#       %a{:href => "#"} footer-menu
    -# .menu-center
    -#   %h3 menu-center
    -#   %ul.foot-center
    -#     %li
    -#       %a{:href => "#"} footer-menu
    -# .menu-right
    -#   %h3 menu-right
    -#   %ul.foot-right
    -#     %li
    -#       %a{:href => "#"} footer-menu
    %small.cmark
      ©️copyright 2020
      %a{:href => "#"} sample-site.
