%div#header
  .logo
    %a(href="") Dig™️

  .list
    %ul
      %li
        %a{:href => "#"} HOME
      %li
        %a{:href => "#"} SIGN IN／UP
      %li
        %a{:href => "#"} MYPAGE
      %li
        %a{:href => "#"} CONTACT
