-# .leftside-bar
-#   %header.icon
-#     .img
-#     .username
-#   .leftside-bar__list
    
-#     %ul.leftside-bar__menuList
-#       %li.leftside__menu.leftside__topmenu
-#         HOME
-#       %li.leftside__menu
-#         MYPAGE
-#       %li.leftside__menu
-#         SIGN IN/UP

      