#welcome-index {
  // background-color: #9de6ce;
  .content-wrapper {
    height: 100vh;
    overflow: scroll;
    padding: 5px;
    
    .content-block {
      border: 2px solid black;
      padding: 20px;
      margin: 10px;
      width: 100%;
      .content {
        border: 1px solid black;
        height: 100%;
        .user-about {
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
          padding-top: 15px;
          .user-about__userContents {
            display: flex;
            .user-about__userIcon {
              display: flex;
              img {
                border-radius: 50%;
                height: 66px;
                width: 66px;
                align-items: center;
              }
            }
            .user-about__userName {
              background-color:  darkcyan;
              width: 180px;
              margin-left: 15px;
              font-weight: bold;
            }
          }
          .user-about__postDetail {
            .user-about__postDate {
              background-color: chocolate;
              color: gray;
              font-size: 20px;
            }
          }
        }
        .body-contents {
          padding: 10px;
          display: flex;
          justify-content: space-between;
          .body-contents__musicdetail {
            width: 30%;
            .body-contents__musicTitle {
              background-color: lightgreen;
              height: 25px;
              // font-size: 32px;
            }
            .body-contents__artistName {
              background-color: crimson;
              height: 25px;
              // font-size: 22px;
            }
            .body-contents__comment {
              background-color: cornflowerblue;
              height: 80px;
              font-size: 11px;
            }
          }
          .body-contents__image {
            width: 70%;
            .body-contents__albumImage {
              text-align: center;
              img {
                border-radius: 25px;
                width: 100%;
                max-width: 100%;

              }
            }
          }
        }
      }
    }
  }
}


    // footer {
    //   height: 150px;
    //   margin: 0px 50px;
      
    //     Form {
    //       font-size: 20px;
    //       width: 100%;
    //       height: 100%;
    //       display: flex;
    //       align-items: center;
    //       justify-content: center;
    //         .form__imageForm {
    //           height: 120px;
    //           width: 120px;
    //           margin-right: 10px;
    //           position: relative;
    //           .form__image {
    //             left: 30px;
    //             top: 30px;
    //             position: absolute;
    //               .form__selectFile {
      //                 display: none;
      //               }
      //           }  
      //         }
      
      //         .form__contents {
        //           margin-right: 30px;
        //             .form__textForm {
          //               height: 20px;
          //               width: 300px;
          //               display: block;
          //               padding: 0 10px;
          //               line-height: 50px;
          //             }
          //             .field_with_errors {
            //               height: 50px;
            //               display: block;
            //               padding: 0 10px;
    //               margin-right: 15px;
    //               line-height: 50px;
    //               width: 100%;
    //             }
    //             .form__commentForm {
    //                 height: 80px;
    //                 width: 300px;
    //                 display: block;
    //                 padding: 0 10px;
    //             }
  
    //         }
    //         .form__submit {
    //           background-color: black;
    //           color: greenyellow;
    //           border: 1px solid greenyellow;
    //           font-size: 20px;
    //           padding: 0 30px;
    //           height: 50px;
    //           display: block;
    //         }
    //     }
    // }
    
    
    // .right-bar {
      //   width: 15%;
      //   background-color: rgb(153, 153, 153);
      //   background-size: 80px 80px;
      //   background-image:
      //     linear-gradient(rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
      //     transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
      //     linear-gradient(90deg, rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
      //     transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
      //     linear-gradient(transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
      //     transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
      //     transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%),
      //     linear-gradient(90deg, transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
      //     transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
      //     transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%);
      // }
      
      // .leftside-bar {
      //   width: 15%;
      //   // color: greenyellow;
      //   background-color: black;
      //   background-size: 80px 80px;
      //   background-image:
      //     linear-gradient(rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
      //     transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
      //     linear-gradient(90deg, rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
      //     transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
      //     linear-gradient(transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
      //     transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
      //     transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%),
      //     linear-gradient(90deg, transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
      //     transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
      //     transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%);
      
      //   header{
      //     height: 150px;
      //     text-align: center;
      //     .img {
      //       background-color: whitesmoke;
      //       height: 100px;
      //       width: 100px;
      //       align-items: center;
      //       display: inline-block;
      //       margin-top: 15px;
      //     }
      //     .username {
      //       height: 15px;
      //       width: 100px;
      //       margin-left: auto;
      //       margin-right: auto;
      //       margin-top: 5px;
      //       background-color: whitesmoke;
      //     }
      //   }
      
      //   .leftside-bar__list {
      //     color: #20da05;
      //     margin: auto;
      //     width: 100px;
      //     border-right: 1px solid #20da05;
      //     border-left: 1px solid #20da05;
      //     background-color: black;
      //       ul {
      //         .leftside__topmenu {
      //           color: black;
      //         }
      //         li {
      //           border: 1px solid #20da05;
      //           padding-left: 5px;
      //           a {
      //             text-decoration: none;
      //             color: #20da05;
      //           }
      //         }
      //       }
      //   }
      
      // }